<header class="site-header">
  <div class="header-left">
    <label
      for="menuToggle"
      class="menu-btn"
      aria-label="Open menu"
      aria-expanded="false">
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
    </label>
    
    <span class="site-title"></span>
  </div>
  
  
  <!-- Desktop navigation -->
  <nav class="desktop-nav" aria-label="Primary navigation">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
  </nav>
  
  <div class="header-right">
<!--//   <label
      for="cartswitch"
      class="cart-switch"
      aria-label="Open menu"
      aria-expanded="false">
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
    </label>//-->
  </div>
</header>
